<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>E-commerce - Carrinho</title>
		<!--Chama a folha de estilo-->
		<link rel="stylesheet" type="text/css" href="styles/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Sobre Nós</a></li>
					<li><a href="#">Contato</a></li>
					<li style="float:right"><a class="active" href="login.html"><i class='fas fa-user-circle'></i> Entre ou cadastre-se</a></li>
					<li style="float:right"><a href="index.html"><i class='fas fa-arrow-rotate-back'></i> Voltar</a></li>
				</ul>
			</nav>
		</header>
		<main class="content">
			<br/>
		</main>
		<footer class="rodape">
			<div>
				<a class="link_rodape" href="https://www.facebook.com/" target="_blank"><img class="img-social-media" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" alt="Facebook Icon"></a> 
				<a class="link_rodape" href="https://www.instagram.com/" target="_blank"><img class="img-social-media" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/800px-Instagram_logo_2022.svg.png" alt="Instagram Icon"></a> 
				<a class="link_rodape" href="https://www.twitter.com/" target="_blank"><img class="img-social-media" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/X_logo_2023.svg" alt="Twitter/X Icon"></a> 
				<a class="link_rodape" href="https://web.whatsapp.com/" target="_blank"><img class="img-social-media" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/640px-WhatsApp.svg.png" alt="WhatsApp Icon"></a> 
			</div>
			<nav style="float:left; width:50%; text-align:center;border-right: 1px solid white"> 
				<a class="link_rodape" href="#">Contato</a><br/>
				<a class="link_rodape" href="#">Sobre Nós</a><br/>
				<a class="link_rodape" href="#">Termos de Uso</a><br/>
				<a class="link_rodape" href="#">Política de Privacidade</a><br/>
			</nav>
			<div style="float:left; text-align: center;margin-left: 5%;">
				<p class="texto_rodape">Email: contato@seudominio.com</p>
				<p class="texto_rodape">Telefone: (00) 1234-5678</p>
				<p class="texto_rodape">Endereço: Rua Exemplo, 123, Cidade, Estado, CEP 12345-678</p>
			</div>
			<br/><br/>
			<div style="clear:both;text-align:center;">
				<br/>
				&copy; 2024 SENAI. Todos os direitos reservados.
			</div>
		</footer>
	</body>
</html>